{% extends 'users_app/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'users_app/css/password_reset_complete.css' %}">
{% endblock styles %}

{% block content %}
<main class="main-reg">
    <section class="reg-title3">
        <h1 class="reg-title-text">Восстановление пароля завершено</h1>
    </section>
    <section class="password-reset-section">
        <div class="reset-done-info-container2">
            <p class="reset-password-info2">Ваш пароль был сохранен. Теперь вы можете войти.</p>
            <a href="{% url 'users_app:login' %}"><p class="reg-btn3">Войти</p></a>
        </div>
    </section>
</main>
{% endblock content %}