{% extends 'users_app/base.html' %}

{% block content %}
<main class="main-reg">
    <section class="reg-title2">
        <h1 class="reg-title-text">Восстановление пароля</h1>
    </section>
    <section class="password-reset-section">
        <p class="reset-password-info">Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам
            инструкцию, как установить новый пароль.</p>
        <form action="" class="password-reset-form" method="post">
            {% csrf_token %}
            <p class="errorlist">{{ form.email.errors }}</p>
            <input type="email" class="reg-form-input add-align-text" name="email" autocomplete="email" maxlength="254">
            <button type="submit" class="send-email">Восстановить мой пароль</button>
        </form>
    </section>
</main>
{% endblock content %}