/* Обнуление */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #000;
}

html, body {
    height: 100%
}


a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Merriweather";
    src: url("../assets/fonts/Merriweather-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Merriweather";
    src: url("../assets/fonts/Merriweather-Regular.ttf");
    font-weight: 400;
}

@font-face {
	font-family: 'Pacifico';
	src: url('../assets/fonts/Pacifico-Regular.ttf');
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #BDAE82;
}

::-webkit-scrollbar-thumb {
	background-color: #ebdbdb;
	
}

::-webkit-scrollbar-thumb:hover {
	background-color: #fff;
}

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #000 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #000 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #000 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #fff;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #000 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #000 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #000 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #fff;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #000 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #000 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #000 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #fff;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #000 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #000 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #000 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #fff;
}

.container {
	min-height: 100%;
    display: flex;
    flex-direction: column;
	max-width: 1440px;
	padding: 0 10px;
	margin: 0 auto;
	background-color: black;
	overflow: hidden;
}

/* .errorlist { 
    font-family: 'Merriweather';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 10px 0px 5px;
    color: red;
    text-transform: uppercase;
    text-align: center;
} */ 

/* .errors-msg {
	color: red;
	text-align: center;
} */

::placeholder {
	font-size: 20px;
	letter-spacing: normal;
}

@media (max-width: 650px) {
	::placeholder {
		font-size: 12px;
	}
}

/*----HEADER-----------------------------*/

.header {
	min-height: 90px;
}
 
.nav {
	min-height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main {
    flex: 1 1 auto;
}

.main-page-link {
	margin: auto 0;
}

.main-page-logo {
	margin-left: 20px;
	transition: 0.5s;
	width: 48px;
	height: 48px;
	background: url("../assets/svg/main-page.svg");
}

@media (max-width: 425px) {
	.main-page-logo {
		background: url("../assets/svg/main-page24px.svg");
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
		margin-left: 10px;
	}
}

.main-page-logo:hover {
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.reg-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	column-gap: 20px;
	text-align: center;
}

@media (max-width: 650px) {
	.reg-list {
		flex-direction: column;
		row-gap: 10px;
		margin: 10px 0;
	}
}

.reg-item, 
.login-name {
	padding: 0px 10px 0px 12px;
	font-family: 'Inter';
	font-weight: 400;
	line-height: 46px;
	margin: 0 auto;
	transition: 0.3s;
	letter-spacing: 3px;
}

.login-name {
    cursor: default;
}

.reg-item {
	height: 50px;
    text-transform: uppercase;
	border: 2px solid #fff;
	color: #fff;
	font-size: 15px;
}

@media (max-width: 425px) {
	.reg-item {
		height: 40px;
		line-height: 38px;
		font-size: 12px;
		padding: 0px 5px 0px 7px;
	}
}

.profile-logout {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 15px;
}

.reg-item2 {
	min-height: 50px;
	padding: 15px 10px;
	font-family: 'Inter';
	font-weight: 400;
	transition: 0.3s;
	letter-spacing: 3px;
	text-transform: uppercase;
	border: 2px solid #fff;
	color: #fff;
	font-size: 15px;
}

@media (max-width: 650px) {
	.reg-item2 {
		min-height: 0px;
		height: 30px;
		line-height: 26px;
		padding: 0px 5px 0px 7px;
		font-size: 12px;
	}
}

.reg-item2:hover {
    color: #BDAE82;
	border-color: #BDAE82;
	border-radius: 20px;
}

.user-container {
	display: flex;
	align-items: center;
	column-gap: 15px;
}

@media (max-width: 650px) {
	.user-container {
		justify-content: center;
	}
}

.avatar {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 100px;
}

@media (max-width: 650px) {
	.avatar {
		width: 40px;
		height: 40px;
	}
}

.login-name {
	color: #BDAE82;
	font-size: 25px;
	font-weight: 700;
	padding: 0;
}

@media (max-width: 650px) {
	.login-name {
		margin: 0;
	}
}

@media (max-width: 425px) {
	.login-name {
		font-size: 18px;
	}
}

.description-link {
	margin: auto 0;
}

.description-link-logo {
	margin-right: 20px;
	transition: 0.5s;
	cursor: pointer;
	width: 48px;
	height: 48px;
	background: url("../assets/svg/main-description.svg");
}

@media (max-width: 425px) {
	.description-link-logo {
		background: url("../assets/svg/main-description24px.svg");
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
		margin-right: 10px;
	}
}

.description-link-logo:hover {
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

/*___FOOTER________________________*/

.footer {
	margin-top: 50px;
	height: 50px;
	border-top: 2px solid #fff;
}

@media (max-width: 768px) {
	.footer {
		margin-top: 20px;
	}
}

@media (max-width: 425px) {
	.footer {
		height: 40px;
	}
}

.footer-elements {
	padding: 0 20px;
	font-family: 'Merriweather';
	font-weight: 400;
	font-size: 15px;
	line-height: 50px;
	color: #fff;
	letter-spacing: 2px;
	display: flex;
	justify-content: space-between;
    align-items: center;
}

@media (max-width: 425px) {
	.footer-elements {
		padding: 0 10px;
		letter-spacing: 0px;
		line-height: 40px;
		font-size: 14px;
	}
}

.footer-link {
	display: flex;
	column-gap: 10px;
	color: #fff;
	transition: 0.3s;
}

.footer-link:hover {
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.footer-up-link {
    height: 24px;
}
