.main-reg {
    flex: 1 1 auto;
    margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.profile-buttons {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
}

.btn-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	column-gap: 40px;
	border-bottom: 2px solid #BDAE82;
	padding-bottom: 10px;
	border-top: 2px solid #BDAE82;
	padding-top: 10px;
}

@media (max-width: 830px) {
	.btn-list {
		column-gap: 20px;
	}
}

@media (max-width: 650px) {
	.btn-list {
		flex-direction: column;
		row-gap: 15px;
	}
}

.btn-block {
	width: 300px;
	height: 50px;
	border: 2px solid #fff;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	transition: 0.3s;
}

@media (max-width: 830px) {
	.btn-block {
		width: 230px;
		line-height: 37px;
	}
}

@media (max-width: 425px) {
	.btn-block {
		height: 35px;
		line-height: 22px;
	}
}

.btn-block:hover {
    color: #BBA9A9;
	border-color: #BBA9A9;
}

.btn-item {
	padding: 15px;
	letter-spacing: 3px;
}

@media (max-width: 830px) {
	.btn-item {
		padding: 5px;
		letter-spacing: 2px;
	}
}

.reg-title2 {
	margin: 50px auto 0;
}

@media (max-width: 650px) {
	.reg-title2 {
		margin: 25px auto 0;
	}
}

.reg-title-text {
	font-family: 'Merriwaether';
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	color: #BDAE82;
	letter-spacing: 4px;
	text-align: center;
}

@media (max-width: 830px) {
	.reg-title-text {
		font-size: 25px;
	}
}

@media (max-width: 425px) {
	.reg-title-text {
		font-size: 20px;
		letter-spacing: 2px;
	}
}

.reg-fields {
	margin-top: 30px;
	padding: 0 20px;
	background: url('../assets/img/ch_main_bg.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 97% 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@media (max-width: 1160px) {
	.reg-fields {
		background: none;
	}
}

@media (max-width: 650px) {
	.reg-fields {
		padding: 0px 10px;
	}
} 

.reg-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Merriweather';
	font-weight: 400;
	color: #fff;
	letter-spacing: 2px;
}

@media (max-width: 1160px) {
	.reg-form {
		align-items: center;
	}
}

.all-rows {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	width: 100%;
}

@media (max-width: 1160px) {
	.all-rows {
		align-items: center;		
	}
}
 
.form-row {
	display: flex;
	flex-direction: column;
}
 
.reg-form-label {
	max-width: 600px;
	color: #BBA9A9;
	letter-spacing: 3px;
	font-size: 20px;
}

@media (max-width: 830px) {
	.reg-form-label {
		font-size: 15px;
	}
}

@media (max-width: 425px) {
	.reg-form-label {
		font-size: 13px;
	}
}

.reg-form-input {
	margin-top: 10px;
	padding: 5px 10px;
	max-width: 600px;
	height: 40px;
	background-color: #fff;
	font-family: 'Merriweather';
	font-weight: 400;
	font-size: 18px;
	line-height: 40px;
	letter-spacing: 2px;
}

@media (max-width: 1160px) {
	.reg-form-input {
		width: 600px;
	}
}

@media (max-width: 830px) {
	.reg-form-input {
		font-size: 14px;
	}
}

@media (max-width: 650px) {
	.reg-form-input {
		width: 280px;
	}
}

@media (max-width: 425px) {
	.reg-form-input {
		font-size: 13px;
	}
}

.reg-btn-container3 {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 50px;
}

.portf-btn-sumbit {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 200px;
	height: 40px;
	background-color: #000;
	color: #BBA9A9;
	border: 2px solid #BBA9A9;
	cursor: pointer;
	transition: 0.5s;
}

@media (max-width: 650px) {
	.portf-btn-sumbit {
		width: 160px;
	}
}

.portf-btn-sumbit:hover {
	border-color: #BDAE82;
	color: #BDAE82;
}

.errorlist {
    font-family: 'Merriweather';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 10px 0px 5px;
    color: red;
}

@media (max-width: 425px) {
	.errorlist {
		letter-spacing: 0px;
	}
}