.main-reg {
    flex: 1 1 auto;
    margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.reg-title2 {
	margin: 20px auto 0;
}

.reg-title-text {
	font-family: 'Merriwaether';
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	color: #BDAE82;
	letter-spacing: 4px;
}

.password-reset-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reset-password-info {
    margin: 60px 0 20px;
	font-family: 'Merriwaether';
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	color: #BBA9A9;
	text-align: center;
}

.password-reset-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.all-rows2 {
    margin-top: 10px;
	display: flex;
	flex-direction: column;
    align-items: center;
	row-gap: 5px;
}

.form-row2 {
	display: flex;
	column-gap: 20px;
	align-items: center;
}

.reg-form-label2 {
	width: 250px;
	font-size: 20px;
	text-align: end;
	text-transform: uppercase;
	color: #BBA9A9;
}

.reg-form-input2 {
	width: 450px;
	height: 50px;
	margin-right: 270px;
	background-color: #fff;
	padding: 5px 15px;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 30px;
}

.reg-form-input2:focus {
    font-family: 'Inter';
    font-weight: 400;
	font-size: 30px;
}

.add-align-text {
    text-align: center;
}

.send-email {
	margin-top: 30px;
	padding: 0 15px;
	height: 40px;
	cursor: pointer;
	font-family: 'Inter';
	font-weight: 400;
	background-color: #000;
	font-size: 15px;
	color: #fff;
	border: 2px solid #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
	transition: 0.3s;
}

.send-email:hover {
	border-color: #BDAE82;
	color: #BDAE82;
}