.main-reg {
    flex: 1 1 auto;
    margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.reg-title3 {
	margin: 50px auto 0;
	text-align: center;
}

.reg-title-text {
	font-family: 'Merriwaether';
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	color: #BDAE82;
	letter-spacing: 4px;
}

.password-reset-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reset-done-info-container {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	row-gap: 15px;
}

.reset-password-info2 {
	font-family: 'Merriwaether';
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	color: #BBA9A9;
	text-align: center;
}