.main-reg {
    flex: 1 1 auto;
    margin-top: 10px;
	display: flex;
	flex-direction: column;
} 

.reg-title2 {
	margin: 20px auto 0;
}

.reg-title-text {
	font-family: 'Merriwaether';
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	color: #BDAE82;
	letter-spacing: 4px;
	text-align: center;
}

@media (max-width: 768px) {
	.reg-title-text {
		font-size: 25px;
	}
}

@media (max-width: 425px) {
	.reg-title-text {
		font-size: 20px;
		letter-spacing: 2px;
	}
}

.password-reset-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reset-password-info {
	margin: 60px 0 20px;
	font-family: 'Merriwaether';
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	color: #BBA9A9;
	text-align: center;
}

@media (max-width: 768px) {
	.reset-password-info {
		font-size: 18px;
	}
}

@media (max-width: 425px) {
	.reset-password-info {
		font-size: 15px;
	}
}

.password-reset-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 10px;
}

.all-rows2 {
    margin-top: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.form-row2 {
	display: flex;
	flex-direction: column;
}

.reg-form-label2 {
	color: #BBA9A9;
	letter-spacing: 3px;
	font-size: 20px;
	margin-bottom: 5px;
}

@media (max-width: 768px) {
	.reg-form-label2 {
		font-size: 18px;
	}
}

@media (max-width: 425px) {
	.reg-form-label2 {
		font-size: 15px;
	}
}

.reg-form-input2 {
	width: 100%;
	height: 50px;
	margin-right: 270px;
	background-color: #fff;
	padding: 5px 15px;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 30px;
}

@media (max-width: 768px) {
	.reg-form-input2 {
		font-size: 20px;
	}
}

@media (max-width: 425px) {
	.reg-form-input2 {
		width: 265px;		
		height: 30px;
		margin: 0 auto;
		font-size: 15px;
	}
}

.add-align-text {
    text-align: center;
}

.send-email {
	margin-top: 30px;
	padding: 0 15px;
	height: 40px;
	cursor: pointer;
	font-family: 'Inter';
	font-weight: 400;
	background-color: #000;
	font-size: 15px;
	color: #fff;
	border: 2px solid #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
	transition: 0.3s;
}

@media (max-width: 768px) {
	.send-email {
		letter-spacing: 2px;
	}
}

@media (max-width: 425px) {
	.send-email {
		font-size: 13px;
		letter-spacing: 1px;
	}
}

.send-email:hover {
	border-color: #BDAE82;
	color: #BDAE82;
}

.other-errors {
	color: red;
	text-align: center;
	margin-bottom: 10px;
}

.errorlist { 
    font-family: 'Merriweather';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 10px 0px 5px;
    color: red;
    text-align: center;
}

@media (max-width: 425px) {
	.errorlist {
		text-align: center;
	}
}

@media (max-width: 425px) {
	.errorlist {
		letter-spacing: 0px;
	}
}
