.main-reg {
    flex: 1 1 auto;
    margin-top: 90px;
	display: flex;
	flex-direction: column;
}

.reg-title3 {
	margin: 50px auto 0;
	text-align: center;
}

.reg-title-text {
	font-family: 'Merriwaether';
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	color: #BDAE82;
	letter-spacing: 4px;
}

.password-reset-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reset-done-info-container2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	row-gap: 50px;
}

.reset-password-info2 {
	font-family: 'Merriwaether';
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	color: #BBA9A9;
	text-align: center;
}

.reg-btn4 {
	text-transform: uppercase;
	text-align: center;
	padding: 15px 15px;
	font-family: 'Inter';
	font-weight: 400;
	transition: 0.3s;
	letter-spacing: 3px;
	border: 2px solid #fff;
	color: #fff;
	font-size: 15px;
}

.reg-btn4:hover {
    color: #BDAE82;
	border-color: #BDAE82;
	border-radius: 20px;
}