.main-reg {
    flex: 1 1 auto;
    margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.reg-title {
	margin: 0 auto;
}

.reg-title-text {
	font-family: 'Merriwaether';
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	color: #BDAE82;
	letter-spacing: 4px;
}

@media (max-width: 768px) {
	.reg-title-text {
		font-size: 25px;
	}
}

@media (max-width: 425px) {
	.reg-title-text {
		font-size: 20px;
		letter-spacing: 2px;
	}
}

.reg-fields {
	margin-top: 30px;
	padding: 0 20px;
	background: url('../assets/img/reg2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 97% 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-top: 2px solid #BDAE82;
	border-bottom: 2px solid #BDAE82;
}

@media (max-width: 1200px) {
	.reg-fields {
		background: none;
	}
}

@media (max-width: 650px) {
	.reg-fields {
		margin-top: 20px;
		padding: 0px 10px;
	}
}

.reg-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Merriweather';
	font-weight: 400;
	color: #fff;
	letter-spacing: 2px;
}

@media (max-width: 1200px) {
	.reg-form {
		align-items: center;
	}
}

.all-rows {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	width: 100%;
}

@media (max-width: 1200px) {
	.all-rows {
		align-items: center;		
	}
}

.form-row {
	display: flex;
	flex-direction: column;
}

@media (max-width: 650px) {
	.form-row  {
		align-items: center;		
	}
}

.reg-form-label {
	max-width: 600px;
	color: #BBA9A9;
	letter-spacing: 3px;
	font-size: 20px;
}

@media (max-width: 768px) {
	.reg-form-label {
		font-size: 15px;
	}
}

@media (max-width: 425px) {
	.reg-form-label {
		font-size: 13px;
	}
}

.reg-form-input {
	margin-top: 10px;
	padding: 5px 10px;
	max-width: 600px;
	height: 40px;
	background-color: #fff;
	font-family: 'Merriweather';
	font-weight: 400;
	font-size: 18px;
	line-height: 40px;
	letter-spacing: 2px;
}

@media (max-width: 1200px) {
	.reg-form-input {
		width: 600px;
	}
}

@media (max-width: 768px) {
	.reg-form-input {
		font-size: 14px;
	}
}

@media (max-width: 650px) {
	.reg-form-input {
		width: 280px;
	}
}

@media (max-width: 319px) {
	.reg-form-input {
		width: 260px;
	}
}

.reg-btn-container {
	max-width: 600px;
	margin-top: 40px;
	margin-bottom: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	column-gap: 30px;
}

@media (max-width: 650px) {
	.reg-btn-container {
		max-width: 200px;
		column-gap: 20px;
		row-gap: 20px;
	}
}

.reg-btn {
	width: 260px;
	height: 53px;
	font-family: 'Merriweather';
	font-weight: 700;
	font-size: 18px;
	line-height: 50px;
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;
	background-color: #BDAE82;
	transition: 0.3s;
	color: #000;
	text-align: center;
}

@media (max-width: 650px) {
	.reg-btn {
		width: 180px;
		height: 40px;
		line-height: 42px;
		font-size: 15px;
	}
}

.reg-btn:hover {
	letter-spacing: 5px;
}

.reg-btn:active {
	background-color: #fff;
}

.reg-btn3 {
	width: 260px;
	text-transform: uppercase;
	text-align: center;
	padding: 15px 15px;
	font-family: 'Inter';
	font-weight: 400;
	transition: 0.3s;
	letter-spacing: 3px;
	border: 2px solid #fff;
	color: #fff;
	font-size: 15px;
}

@media (max-width: 650px) {
	.reg-btn3 {
		width: 180px;
		height: 40px;
		line-height: 38px;
		font-size: 15px;
		padding: 0;
	}
}

.reg-btn3:hover {
    color: #BDAE82;
	border-color: #BDAE82;
	border-radius: 20px;
}

.errorlist { 
    font-family: 'Merriweather';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 10px 0px 5px;
    color: red;
}

@media (max-width: 425px) {
	.errorlist {
		text-align: center;
	}
}

@media (max-width: 425px) {
	.errorlist {
		letter-spacing: 0px;
	}
}
