.main-reg {
    flex: 1 1 auto;
    margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.reg-title {
	margin: 0 auto;
}

.reg-title-text {
	font-family: 'Merriwaether';
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	color: #BDAE82;
	letter-spacing: 4px;
}

.review-container {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.photo-rating-name-button {
	display: flex;
	flex-direction: column;
}

.photo-rating-name {
    font-family: 'Merriwaether';
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	max-width: 300px;
}

.photo-and-rating {
	display: flex;
	align-items: flex-end;
	column-gap: 20px;
}

.photo-person2 {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	object-fit: cover;
}

.rating-person2 {
    color: #BBA9A9;
	transition: 0.3s;
	padding-left: 30px;
	cursor: pointer;
	font-size: 30px;
	background: url('../assets/svg/rait_24.svg');
	background-size: 24px;
	background-position-y: 5px;
	background-repeat: no-repeat;
}

.rating-person2:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.result-name-surname2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px 10px;
	font-family: 'Merriweather';
	font-weight: 400;
	letter-spacing: 3px;
	color: #BBA9A9;
}

.new-comment2 {
	margin-top: 50px;
}

.add-comment2 {
	max-width: 250px;
	margin: 0 auto;
	position: relative;
	font-family: 'Inter';
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	border: 2px solid #fff;
	padding-left: 62px;
	padding-top: 15px;
	padding-bottom: 15px;
	transition: 0.3s;
}

.add-comment2:hover {
	border-color: #BDAE82;
	color: #BDAE82;
}

.add-comment2::before {
	position: absolute;
	content: '';
	left: 30px;
	background: url('../assets/svg/add_comment.svg');
	width: 24px;
	height: 24px;
	transition: 0.3s;
}

.add-comment2:hover::before {
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.reviews {
	display: flex;
	flex-direction: column;
	width: 75%;
	max-height: 600px;
	overflow: auto;
	font-family: 'Merriwaether';
}

.one-review-container {
	width: 98%;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #fff;
	padding: 10px;
	margin-bottom: 15px;
	letter-spacing: 1px;
}

.review-autor-date {
	display: flex;
	justify-content: space-between;
}

.review-autor {
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
}

.span-review {
	color: #BBA9A9;
	font-weight: 700;
	text-transform: none;
}

.review-date {
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
}

.review-title-text {
	margin-top: 15px;
}

.reviw-title {
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
}

.review-text {
	margin-top: 5px;
	color: #BDAE82;
	text-align: justify;
	font-family: 'Merriwaether';
	font-weight: 400;
	font-size: 18px;
}