{% extends 'users_app/base.html' %}
{% load static %}


{% block styles %}
<meta name="google-site-verification" content="bhm2ps5w_UiB8U5arJ_QqF4BCAjhhi8NF7W7YINJG98"/>
<meta name="yandex-verification" content="84face445f471648"/>
<meta name="description" content="Ищите парикмахеров/барберов по всей Беларуси. Вы парикмахер/барбер? Заявите о себе, создав уникальное портфолио!">
<link rel="stylesheet" href="{% static 'users_app/css/index.css' %}">
{% endblock styles %}

{% block content %}
<main class="main">
    <section class="main-page">
        <div class="main-photo">
            <div class="photo-item"></div>
            <div class="photo-item"></div>
        </div>
        <div class="title-container">
            <h1 class="title-text" data-i18n="">Твой парикмахер</h1>
            <a href="{% url 'selection_app:selection' %}" class="selection-link" target="_blank">
                <div class="selection-text">Подобрать</div>
            </a>
        </div> 
        <div class="photo-item2"></div>
    </section>
    <section class="top10">
        <h2 class="top10-title">Топ-10 мастеров</h2>
        <ul class="top10-items">
            {% for h in top10 %}
            <a href="{% url 'users_app:get_hairdresser' h.owner.slug %}" class="top10-link" target="_blank">
                <li class="top10-item">
                    <img src="{{ h.owner.avatar.url }}" alt="Avatar" class="result-photo">
                    <div class="result-rating-container">
                        <img src="{% static 'users_app/assets/svg/rait_24.svg' %}" alt="rating" class="rating-logo">
                        <p class="rating-value">{{ h.rating }}</p>
                    </div>
                    <div class="result-name-surname">
                        <p class="top10-name">{{ h.owner.name|truncatechars:24|title }}</p>
                        <p class="top10-name">{{ h.owner.surname|truncatechars:24|title }}</p>
                    </div>
                    <p class="top10-city">{{ h.city }}</p>
                </li>
            </a>
            {% endfor %}
        </ul>
    </section>
    <section class="description" id="description">
        <div class="description-container">
            <div class="description-item">
                <div class="description-title">Ищете парикмахера / барбера?</div>
                <div class="description-text">
                    Здесь вы найдёте себе профессионала по вкусу! Просматривайте работы мастеров и выбирайте того, кто максимально
                    подходит под ваши требования. Удобные фильтры помогут максимально упростить процесс поиска. Связывайтесь
                    напрямую с понравившимся мастером и договаривайтесь на удобное для вас время. И не забывайте оценивать работы
                    мастеров, так как это в будущем поможет вам и другим людям найти именно то, что нужно!
                </div>
            </div>
            <div class="description-item">
                <div class="description-title">Вы парикмахер / барбер?</div>
                <div class="description-text">
                    Этот сайт поможет вам заявить о себе и ваших навыках, что позволит вам получить ещё больше новых заказов! Составьте
                    портфолио своих работ, что поможет потенциальным клиентам выбрать именно вас. Укажите свои контакты и клиенты
                    смогут связываться с вами напрямую удобным для вас способом.
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
