.main-reg {
    flex: 1 1 auto;
    margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.reg-title {
	margin: 0 auto;
}

.reg-title-text {
	font-family: 'Merriwaether';
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	color: #BDAE82;
	letter-spacing: 4px;
}

@media (max-width: 650px) {
	.reg-title-text {
		font-size: 25px;
	}
}
 
@media (max-width: 425px) {
	.reg-title-text {
		font-size: 20px;
		letter-spacing: 2px;
	}
}

.review-container {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media (max-width: 1200px) {
	.review-container {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 425px) {
	.review-container {
		margin-top: 20px;
	}
}

.photo-rating-name-button {
	display: flex;
	flex-direction: column;
}

@media (max-width: 1200px) {
	.photo-rating-name-button {
		margin-bottom: 30px;
	}
}

.photo-rating-name {
    font-family: 'Merriwaether';
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
}

.photo-and-rating {
	display: flex;
	align-items: flex-end;
	column-gap: 20px;
}

@media (max-width: 768px) {
	.photo-and-rating {
		column-gap: 10px;
	}
}

.photo-person2 {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	object-fit: cover;
}

@media (max-width: 768px) {
	.photo-person2 {
		width: 150px;
		height: 150px;
	}
}

@media (max-width: 319px) {
	.photo-person2 {
		width: 100px;
		height: 100px;
	}
}

.rating-person2 {
    color: #BBA9A9;
	transition: 0.3s;
	padding-left: 30px;
	cursor: pointer;
	font-size: 30px;
	background: url('../../users_app/assets/svg/rait_24.svg');
	background-size: 24px;
	background-position-y: 5px;
	background-repeat: no-repeat;
}
 
@media (max-width: 880px) {
	.rating-person2 {
		font-size: 18px;
		background-position-y: -3px;
	}
}

.rating-person2:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.result-name-surname2 {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px 10px;
	font-family: 'Merriweather';
	font-weight: 400;
	letter-spacing: 2px;
	color: #BBA9A9;
}

.new-comment2 {
	margin-top: 50px;
}

@media (max-width: 768px) {
	.new-comment2 {
		margin-top: 30px;
	}
}

.add-comment2 {
	width: 250px;
	margin: 0 auto;
	position: relative;
	font-family: 'Inter';
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	border: 2px solid #fff;
	padding-left: 62px;
	padding-top: 15px;
	padding-bottom: 15px;
	transition: 0.3s;
}

@media (max-width: 768px) {
	.add-comment2 {
		height: 40px;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 26px;
	}
}

@media (max-width: 425px) {
	.add-comment2  {
		padding-left: 60px;
		width: 205px;
		font-size: 12px;
	}
}

.add-comment2:hover {
	border-color: #BDAE82;
	color: #BDAE82;
}

.add-comment2::before {
	position: absolute;
	content: '';
	left: 30px;
	background: url('../../users_app/assets/svg/add_comment.svg');
	width: 24px;
	height: 24px;
	transition: 0.3s;
}

@media (max-width: 768px) {
	.add-comment2::before  {
		top: 7px;
	}
}

@media (max-width: 425px) {
	.add-comment2::before  {
		left: 30px;
	}
}

.add-comment2:hover::before {
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.reviews {
	display: flex;
	flex-direction: column;
	width: 75%;
	max-height: 600px;
	overflow: auto;
	font-family: 'Merriwaether';
}

@media (max-width: 768px) {
	.reviews  {
		width: 93%;
	}
}

.one-review-container {
	width: 98%;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #fff;
	padding: 10px;
	margin-bottom: 15px;
	letter-spacing: 1px;
}

.review-autor-date {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 650px) {
	.review-autor-date {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}
}

.review-autor {
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
}

@media (max-width: 650px) {
	.review-autor {
		display: flex;
		flex-direction: column;
	}
}

.span-review {
	color: #BBA9A9;
	font-weight: 700;
	text-transform: none;
}

.review-date {
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
}

@media (max-width: 650px) {
	.review-date {
		display: flex;
		flex-direction: column;
	}
}

.review-title-text {
	margin-top: 15px;
}
 
.review-title {
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
}

.review-text {
	margin-top: 5px;
	color: #BDAE82;
	font-family: 'Merriwaether';
	font-weight: 400;
	font-size: 18px;
	white-space: pre-wrap;
}

@media (max-width: 425px) {
	.review-text {
		font-size: 15px;
	}
}