.main2 {
    flex: 1 1 auto;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #fff;
	column-gap: 20px;
}

@media (max-width: 768px) {
	.main2{
		flex-direction: column;
		align-items: center;
	}
}

.filters {
	width: 23%;
	height: 660px;
	display: flex;
	flex-direction: column;
}

@media (max-width: 960px) {
	.filters {
		width: auto;
		height: auto;
		margin-bottom: 30px;
	}
}

.filters-title {
	font-family: 'Merriweather';
	font-weight: 700;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 4px;
}

@media (max-width: 1024px) {
	.filters-title {
		font-size: 20px;
	}
}

@media (max-width: 768px) {
	.filters-title {
		font-size: 18px;
	}
}

.form-title {
	padding: 20px 0 5px;
	font-family: 'Merriweather';
	font-weight: 400;
	text-align: center;
	font-size: 18px;
	letter-spacing: 2px;
	color: #BDAE82;
}

@media (max-width: 1024px) {
	.form-title {
		font-size: 15px;
	}
}

@media (max-width: 768px) {
	.form-title {
		font-size: 13px;
	}
}

.city-form-container,
.skill-form-container {
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.city-form-container {
	padding-top: 10px;
	height: 50px;
}

.skill-form-container {
	height: 350px;
}

@media (max-width: 768px) {
	.city-form-container,
	.skill-form-container {
		min-width: 175px;
	}

	.skill-form-container {
		height: 300px;
	}
}

.select {
	margin: 0 2px;
	font-family: 'Merriwaether';
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 14px;
	padding: 8px 5px;
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.select {
		font-size: 12px;
	}
}

.option {
    max-height: 50px;
}

@media (max-width: 768px) {
	.option {
		max-height: 10px;
	}
}

.label-name {
	margin-top: 10px;
	position: relative;
	font-family: 'Merriweather';
	font-weight: 400;
	font-size: 14px;
	color: #BBA9A9;
	cursor: pointer;
	letter-spacing: 2px;
	margin-left: 30px;
	word-wrap: break-word;
}

@media (max-width: 768px) {
	.label-name {
		font-size: 12px;
	}
}

.input-variant {
	position: absolute;
	left: -20px;
}

.form-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	column-gap: 5px;
	row-gap: 10px;
	margin-top: 50px;
	max-width: 320px;
}

@media (max-width: 960px) {
	.form-buttons {
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 768px) {
	.form-buttons {
		margin-top: 25px;
	}
}

.selection-btn {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 140px;
	height: 30px;
	background-color: #000;
	color: #BBA9A9;
	border: 2px solid #BBA9A9;
	cursor: pointer;
	transition: 0.5s;
}

@media (max-width: 768px) {
	.selection-btn {
		font-size: 12px;
		width: 120px;
	}
}

.selection-btn:hover {
	border-color: #BDAE82;
	color: #BDAE82;
}

.selection-btn-reset {
	width: 140px;
	height: 30px;
	border: 2px solid #fff;
	text-align: center;
	cursor: pointer;
	transition: 0.5s;
}

@media (max-width: 768px) {
	.selection-btn-reset {
		width: 120px;
	}
}

.selection-btn-reset:hover {
	border-color: #8f0c0c;
}

.reset-link {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	line-height: 28px;
	transition: 0.5s;
}

@media (max-width: 768px) {
	.reset-link {
		font-size: 12px;
	}
}

.reset-link:hover {
	color: #8f0c0c;
}

.result {
	width: 70%;
	height: 660px;
}

@media (max-width: 960px) {
	.result {
		width: 100%;
		height: auto;
		max-height: 700px;
		padding-right: 20px;
		padding-left: 20px;
		margin-bottom: 30px;
	}
}

.result-items {
	width: 95%;
	height: 90%;
	margin: 20px auto 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow: auto;
	column-gap: 5px;
}

@media (max-width: 768px) {
	.result-items {
		width: 100%;
		height: auto;
		max-height: 680px;
	}
}

.no-results {
	font-family: 'Merriweather';
	color: #fff;
	font-size: 18px;
	text-align: center;
}

@media (max-width: 768px) {
	.no-results {
		font-size: 15px;
	}
}

@media (max-width: 425px) {
	.no-results {
		font-size: 13px;
	}
}

.result-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 250px;
	width: 230px;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.result-item {
		width: 215px;
		height: 230px;
	}
}

@media (max-width: 425px) {
	.result-item {
		width: 200px;
	}
}


.result-photo {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 100px;
}

@media (max-width: 768px) {
	.result-photo {
		width: 120px;
		height: 120px;
	}
}

.result-rating-container {
	display: flex;
	justify-content: center;
	column-gap: 5px;
	margin-top: 10px;
	height: 30px;
	font-family: 'Merriweather';
	font-size: 18px;
}

.rating-logo {
	width: 24px;
	height: 24px;
}

.rating-value {
	line-height: 23px;
	color: #BDAE82;
}

.result-name-surname {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px 10px;
	font-family: 'Merriweather';
	font-weight: 400;
	letter-spacing: 3px;
	color: #BBA9A9;
}

@media (max-width: 768px) {
	.result-name-surname {
		font-size: 14px;
		letter-spacing: 2px;
	}
}

@media (max-width: 425px) {
	.result-name-surname {
		letter-spacing: 1px;
	}
}

.result-name {
	text-align: center;
}