{% extends 'users_app/base.html' %}
{% load static %}

{% block content %}
<main class="main">
    <div class="add-photo-container">
        <h1 class="reg-title-text">Добавить главное фото профиля</h1>
        <form action="{% url 'users_app:avatar' %}" method="post" enctype="multipart/form-data" class="add-photo-form">
            {% csrf_token %}
            <div class="input__wrapper2">
                {{ form.avatar }}
                <label for="input__file2" class="input__file-button2">
                    <span class="input__file-icon-wrapper2"><img class="input__file-icon2" src="{% static 'users_app/assets/svg/file_upload_black_48dp.svg' %}" alt="Выбрать файл" width="25"></span>
                    <span class="input__file-button-text2">Выберите файл</span>
                </label>
            </div>
            <div id="result"></div>
            <div class="add-avatar-btns">
                <button class="av-btn-yes" type="submit" name="avatar" value="yes">Сохранить</button>
                <button class="av-btn-no" type="submit" name="avatar" value="no">Добавить позже</button>
            </div>
        </form>
    </div>
</main>
{% endblock content %}