{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'users_app/css/common.css' %}">
    {% block styles %}
    {% endblock styles %}
    <link rel="shortcut icon" href="{% static 'users_app/assets/svg/icon.svg' %}">
</head>
<body>
    <div class="container" id="main">
        <header class="header">
            <nav class="nav">
                <a class="main-page-link" href="{% url 'users_app:homepage' %}" title="Главная страница">
                    <img class="main-page-logo" src="{% static 'users_app/assets/svg/main-page.svg' %}" alt="logo">
                </a>
                {% if request.user.is_authenticated %}
                <ul class="reg-list">
                    <li>
                        <div class="user-container">
                            {% if request.user.simpleuser.avatar %}
                            <a href="{% url 'users_app:avatar' %}" title="Изменить фото профиля"><img class="avatar" src="{{ user.simpleuser.avatar.url }}" alt="Фото"></a>
                            {% else %}
                            <a href="{% url 'users_app:avatar' %}" title="Изменить фото профиля"><img class="avatar" src="{% static 'users_app/assets/img/person/4+.jpg' %}" alt="Фото"></a>
                            {% endif %}
                            <p class="login-name" data-i18n="">{{ user.username }}</p>
                        </div>
                    </li>
                    <li><a class="reg-item" href="{% url 'users_app:get_main_profile' user.username  %}" data-i18n="">Профиль</a></li>
                    <li><a class="reg-item" href="{% url 'users_app:logout' %}" data-i18n="">Выход</a></li>
                </ul>
                {% else %}
                <ul class="reg-list">
                    <li><a class="reg-item" href="{% url 'users_app:login' %}" data-i18n="">Вход | Регистрация</a></li>
                </ul>
                {% endif %}
{% block header %}
{% endblock header %}
            </nav>
        </header>
{% block content %}
{% endblock content %}
        <footer class="footer">
            <div class="footer-elements">
                <p class="footer-year">2022</p>
                <a href="mailto:d.bandysik@gmail.com" class="footer-link" title="Написать">
                    <p class="footer-name">Дмитрий Бандысик</p>
                    <img src="{% static 'users_app/assets/svg/mail.svg' %}" alt="Написать" class="footer-img">
                </a>
                <a href="#main" class="footer-up-link" title="Вверх">
                    <img src="{% static 'users_app/assets/svg/arrow_upward_white_24dp.svg' %}" alt="В начало">
                </a>
            </div>
        </footer>
    </div>
</body>
</html>